* {margin: 0; padding: 0; border: 0; line-height: 1; }
body { font-size: 20px; }
h1, h2, h3, h4, h5, h6 { font-size: 1.3em; text-align: center; }
a {text-decoration: none;}

body > h1.title {font-family: sans-serif; font-size: 2em; font-weight: normal; margin-top: 1em; }
body > h2.tag {margin: 0 10%; color: #ff5314; font-family: sans-serif; font-size: 1.2em; letter-spacing: 2px; font-weight: bold; font-variant: small-caps }
body > p.disclaimer {font-family: sans-serif; font-size: .5em; margin: 1em 5%; padding: 1px 1em; border: 1px solid red; text-align: center; }

.group {border: .5em solid #000;}
.group > h3 {color: #fff; background-color: #FF5314; padding: .5em 0 .3em 0;}

.items {display: flex; flex-wrap: wrap; justify-content: center; align-items: stretch; }
.items .item { min-width: 300px; padding: 15px; flex: 0 0 auto;}

@media only screen and (max-width: 600px) {
.items .item {border-top: 1px solid #000;}
.items .item:first-child {border-top: 0}
}

.items .item ul {display: none; margin-top: .5em; }
.items .item li { list-style: square outside; font-size: 1em; font-weight: normal; margin: 0 0 .5em 1em;}
.items .item img {display: block; max-width: 305px; margin: 10px auto 0 auto;}
.mt img {max-height: 100px;}
.aa img {max-height: 100px;}
.code {display: inline-block; padding: 3px 6px 1px 6px; background-color: #ddd; font-family: monospace; font-weight: normal;}
.items .item h4 .code {font-size: .6em}
.items .item h4 li .code {font-size: .8em}

.items .item h4.subtitle {font-size: .8em}
.items .item h4.alert { margin: 10px; }
.items .item h4.alert span { font-size: .7em; font-variant: small-caps; font-family: monospace; font-weight: normal; padding: 2px 1em; background-color: #FF5314; color: #fff; }
.items h4.mileage {font-size: .75em; color: #444; font-weight: normal; font-family: monospace; letter-spacing: 1px}

.items .item .inside,
.items .item .load {font-weight: bold !important;}

.items .item ul .itonly {display: none;}
.items .item ul .itonly span,
.items .item ul .alert span { font-family: monospace; font-size: .8em; font-weight: normal; padding: .2em; background-color: #FF5314; color: #fff; }

.footer ul.hideshow {text-align: center;}
.footer ul.hideshow li:before {content:"\25cb"}
.footer ul.hideshow li {display: inline-block; margin-left: 1em; }
.footer ul.hideshow li:first-child {margin-left: 0; }

.footer p.updates {margin: 1em;}
.footer .updates {margin-left: 1em; font-size: .8em; font-weight: normal; }
.footer .updates li {list-style: square outside; margin: 0 0 .5em 1em;}

.footer .credit {text-align: center;}

/* it's just a bit too big for the old iPhone 5S screens, so tweaking it just for them */
@media only screen and (max-device-width: 320px) {

.group { border: 1px solid #000 !important; }
.items .item { min-width: 300px !important; padding: 5px !important; }
.items .item img { max-width: 300px !important; }
}

#itemsettings h3 {margin: 1em;}
#itemsettings p.instructions { background-color: #333; color: white; padding: 1em; font-size: 20px; margin: 1em; line-height: 1.5; }

p.itemsettings.groups {width: 500px; margin: 0 auto;}
ul.itemsettings.groups {width: 500px; margin: 0 auto;}
ul.itemsettings.groups li {display: block; margin: .5em;}

#itemsettings .flexwrap {display: flex; flex-wrap: wrap; justify-content: center; align-items: center; }
table.itemsettings { flex: 0 1 auto; font-family: sans-serif; font-size: 20px; font-weight: normal; margin: 1em; border: 1px solid #333; }
table.itemsettings tr {border: 1px solid #333; margin-bottom: 0.5em; }
table.itemsettings td {padding: 10px;}
table.itemsettings td.code {display: table-cell;}
table.itemsettings td:first-child {text-align: right;}
table.itemsettings td[colspan="2"] {text-align: left;}
table.itemsettings input[type="text"] {border: 1px solid #333; padding: 5px; font-size: 20px; width: 70px;}
table.itemsettings input[type="text"]:active {border: 1px solid #f00;}
table.itemsettings input[type="checkbox"] {font-size: 1.3em;}

p.credit {margin: 1.5em 0; padding-top: 1em; border-top: 2px solid #333; font-size: 16px;}
